* {
  background-color: #74c29b;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
a:hover{
  color: blue;
}
a:link{
  font-family: arial;
  color: green;
}
a:visited{
  color: pink;
}
.mainContainer > h1 {
  font-family: 'Barriecito', cursive;
  font-size: 100px;
}
.mainContainer > .content > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#first + #second {
  border-style: solid;
  border-width: 5px;
}
